@fontsource /roboto/300.css;
@fontsource /roboto/400.css;
@fontsource /roboto/500.css;
@fontsource /roboto/700.css;

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .card {
    background-color: theme('colors.white');
    border-radius: theme('borderRadius.lg');
    padding: theme('spacing.6');
    box-shadow: theme('boxShadow.xl');
    width: 10rem;
  }
}

html {
  background: black;
}

li a {
  text-decoration: none;
}
